<div class="wrapper sidebar-content wrapper-content">
    <div class="row">

        <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">
                                    200K = 1 cash </h3>
                                <p>witdhraw now.</p>
                                <form role="form">
                                    <div class="form-group"><label>Amount</label> <input type="number" placeholder="Enter amount" class="form-control"></div>
                                    
                                    <div>
                                        <button class="right btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Cash Out</strong></button>
                                       
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6"><h4>Need help?</h4>
                                <p>Forum under construction:</p>
                                <p class="text-center">
                                    <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
    </div>
</div>